<div class="container">

  <div class="fake">
   <div id="us">
    <b> User Name : <input type="text" name="username" [(ngModel)]="username"></b>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  <br><br>
</div>
<div id="pwd">
    <b>Password : <input type="password" name="password" [(ngModel)]="password"></b>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  <br><br>
</div>
    <button (click)="createUser()" class="btn">
      <span></span>
        <span></span>
        <span></span>
        <span></span>
        <b>Login</b>
    </button>
  </div>
  
</div>
