<!-- <div class="col-md-6">
    <h2 class="text-center">Update Patients</h2>
    <form>
      <div class="form-group">
        <label for="pat_Name">Name:</label>
        <input type="name" [(ngModel)]="Patients.pat_Name" placeholder="Name" name="name"  class="form-control" id="pat_Name">
      </div><br>
    
      <div class="form-group">
        <label for="pat_Phone">Phone Number:</label>
        <input [(ngModel)]="Patients.pat_Phone" placeholder="Phone Number"  name="Phone" class="form-control" id="pat_Phone">
      </div><br>
    
      <div class="form-group">
        <label for="patient_ID">Patient Id:</label>
        <input type="number" [(ngModel)]="Patients.patient_ID" placeholder="Patient Id" name="Patient ID" class="form-control" id="patient_ID">
      </div><br>
      <div class="form-group">
        <label for="pat_Age">Age:</label>
        <input [(ngModel)]="Patients.pat_Age" placeholder="Age" name="age" class="form-control" id="pat_Age">
      </div><br>
      <div class="form-group">
        <label for="pat_Symptoms">Symptoms:</label>
        <input [(ngModel)]="Patients.pat_Symptoms" placeholder="Symptoms" name="symptoms" class="form-control" id="pat_Symptoms">
      </div><br>
      <button class="btn btn-success" (click)="updateEmployees()">Update</button>
    </form>
    </div> -->
    <!-- <p>HI all</p> -->


    <div class="container">

      
      <div class="fake">
       <div id="us">
       
        <b> User Name : <input type="text" name="username" [(ngModel)]="log.docUser"></b>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      <br><br>
    </div>
    <div id="pwd">
        <b>Password : <input type="password" name="password" [(ngModel)]="log.docPass"></b>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      <br><br>
    </div>
    <div>
        <button  id="yu" (click)=checkLogin() class="btn">
          <span></span>
            <span></span>
            <span></span>
            <span></span>
            <b>Login</b>
        </button>
      </div>
    </div>
    <br><br><br><br>
    
    </div>